
#header {
  color: teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

#subheader {
  color: teal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}

#navfont {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  #navfont {
    width: 100%;
  }
}

.box {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: 5px;
  padding: 10px 20px 15px;
  background-color: white;
}

body { 
  margin: 20px; 
  text-align: left; 
  background-color: lightgray;
} 

.navbar-brand {
  background-color: teal;
  padding: 5px 5px 5px;
}

.thumbnail {
  margin: 5px; 
  width: 200px;
} 

p { 
  text-align: left; 
  font-size: 14px; 
} 

.panel:hover {
  border-color: teal;
  border-style: solid;
}

.wrapper {
  align-self: start;
  column-gap: 20px;
  padding: 20px;
}